.container {
    max-width: 1000px;
    padding-top: 20px;
    /* Ajustado para reduzir o espaço */
    padding-bottom: 60px;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Ajuste do tamanho do gráfico */
#graficoOperacoes {
    max-width: 100%;
    height: auto;
}

/* Estilização para dividir a tela em duas colunas */
.row-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.col-left,
.col-right {
    flex: 1;
}

/* Estilização do ícone de Repositório */
.btn-repositorio {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.btn-repositorio img {
    margin-right: 8px;
}

/* Navbar fixa */
.navbar-fixed {
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Footer fixo */
footer {
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/* Estilização da mensagem para que não afete o layout */
#mensagem {
    position: fixed;
    top: 70px;
    /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
}