.container {
    max-width: 1000px;
    padding-top: 80px;
    /* Espaço para a navbar fixa */
    padding-bottom: 60px;
    /* Espaço para o footer fixo */
}

/* Navbar fixa */
.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Footer fixo */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
}

.table-container {
    max-height: 350px;
    overflow-y: auto;
}